@model XtremeDoctors.ViewModels.DoctorViewModel

@{
    DoctorViewModel doctor = Model;
}

<table class="striped">
    <tbody>
        <tr>
            <td>@SharedLocalizer["Monday"]</td>
            <td>@SharedLocalizer[@doctor.workingHours[(int)DayOfWeek.Monday]]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Tuesday"]</td>
            <td>@SharedLocalizer[@doctor.workingHours[(int)DayOfWeek.Tuesday]]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Wednesday"]</td>
            <td>@SharedLocalizer[@doctor.workingHours[(int)DayOfWeek.Wednesday]]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Thursday"]</td>
            <td>@SharedLocalizer[@doctor.workingHours[(int)DayOfWeek.Thursday]]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Friday"]</td>
            <td>@SharedLocalizer[@doctor.workingHours[(int)DayOfWeek.Friday]]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Saturday"]</td>
            <td>@SharedLocalizer[@doctor.workingHours[(int)DayOfWeek.Saturday]]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Sunday"]</td>
            <td>@SharedLocalizer[@doctor.workingHours[(int)DayOfWeek.Sunday]]</td>
        </tr>
    </tbody>
</table>
