@model XtremeDoctors.ViewModels.DoctorViewModel

    <div class="row">
        @foreach (DoctorViewModel doctor in (DoctorViewModel[])ViewBag.doctorViews)
        {
            <div class="col s12 m6">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">

                        <div class="col s12">
                            <span class="black-text">
                                <div class="col s2">
                                    <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle  responsive-img" />
                                </div>
                                <div class="col s10">
                                    <strong>@doctor.doctor.Name @doctor.doctor.Surname</strong><br />
                                    <i>@doctor.doctor.Specialization</i>
                                    <blockquote>@doctor.doctor.Text</blockquote>
                                </div>
                                <partial name="_WorkingHoursPartial" model="@doctor" />
                                <br />
                                <form method="get" action="@Url.Action("View", "Doctor", new { id = @doctor.doctor.Id })">
                                    <input type="text" class="datepicker" name="date">
                                    <button type="submit" class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>@SharedLocalizer["Make an appointment"]</button>
                                </form>
                                Najbliższy wolny termin <strong><span class="green-text">@SharedLocalizer["tommorow"]</span></strong>!<br />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


<script>

    $(document).ready(function(){
        $('.datepicker').datepicker(
            {
                format: "yyyy-mm-dd",
                defaultDate: new Date(),
                setDefaultDate: true,
                minDate: new Date(),
                disableDayFn: function (MyDate) {
                    console.log(MyDate.getFullYear() + '-' + ('0'+(MyDate.getMonth()+1)).slice(-2) + "-" + ('0' + MyDate.getDate()).slice(-2))
                    return false;
                }
            }
        );
  });
</script>