@model XtremeDoctors.ViewModels.DoctorViewModel

@{
    DoctorViewModel doctor = ViewBag.doctorView;
    DateTime date = ViewBag.date;
}
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">

                        <div class="col s12">
                            <span class="black-text">
                                <div class="col s12">
                                    <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle  responsive-img" />
                                </div>
                                <div class="col s12">
                                    <strong>@doctor.doctor.Name @doctor.doctor.Surname</strong><br />
                                    <i>@doctor.doctor.Specialization</i>
                                    <blockquote>@doctor.doctor.Text</blockquote>
                                </div>

                                <partial name="_WorkingHoursPartial" model="@doctor"/>


                        </div>
                    </div>

                </div>
            </div>

            <div class="col s12 m6">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">

                        <div class="col s12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Termin</th>
                                        <th>Czas</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (String freeHour in (String[])ViewBag.freeHours)
                                    {
                                        <tr>
                                            <td>@freeHour</td>
                                            <td>15 minut</td>
                                            <td>
                                                @using (Html.BeginForm("Make", "Appointment", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="doctorId" value="@doctor.doctor.Id" />
                                                    <input type="hidden" name="date" value="@date" />
                                                    <input type="hidden" name="hour" value="@freeHour" />
                                                    @if (ViewBag.patientId != null)
                                                    {
                                                        <input type="hidden" name="patient" value="@ViewBag.patientId">
                                                        <button type="submit" class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów pacjenta</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów się</button>
                                                    }
                                                }

                                            </td>
                                        </tr>
                                     }
                                    </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>